* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  background: linear-gradient(to right, yellow, red);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  background-color: rgba(255, 255, 255, 0.296);
  border: none;
  box-shadow: 1px 1px 5px red;
}

.search-container input,
.search-container .suggestions {
  width: 300px;
}
.search-container input {
  font-size: 12px;
  padding: 5px;
  position: relative;
}
.search-container .suggestions {
  position: relative;
}

ul {
  font-size: 12px;
  overflow-y: auto;
  max-height: 200px;
  position: absolute;
  top: 0;
}

ul .has-suggestions {
  font-weight: bold;
}

ul li {
  list-style-type: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.296);
  width: 300px;
}

ul li:hover {
  background-color: rgba(255, 0, 0, 0.558);
}
